/*---Loading Gif---*/

.loading-gif {
  position: absolute;
  top: 0;
  background: black;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif img {
  flex: 1;
}

.loading-gif p {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  z-index: 1001;
  width: 100%;
}

/*---Header---*/

.main-header {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.top-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.top-links li {
  margin: 5px 10px;
}

.top-links li img{
  width: 70%;
  height: 70%;
}

.top-links li a {
  text-decoration: none;
  color: gray;
}

.top-links a:hover {
  border-bottom: 2px solid pink;
}

.top-links a:active {
  border-bottom: 2px solid pink;
}

.top-links input {
  background: rgba(0,0,0,.1);
  height: 28px;
  border-radius: 5px;
  width: 95vw;
  text-align: center;
}

/*---Images---*/

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 95%;
}

.main-content h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.categories {
  width: 24%;
  margin: 3px auto;
  position: relative;
}

.category {
  width: 100%;
  border-radius: 5px;
}

.category-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 14px;
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images {
  width: 46%;
  height: 30vw;
  overflow: hidden;
  margin: 4px 4px;
  position: relative;
}

.image {
  max-width:100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .25);
  z-index: 1;
  color: white;
}

.like {
  background-size: cover;
  width: 25%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,.7);
  border-radius: 50%;

}

.like img{
  width: 100%;
  height: 100%;
}

.counter {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid white;
  padding: 2px 15px;
}


/*---UI-View Image---*/

.imageUrlContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px auto;
  background: black;
}

.imageUrlImage {
  width: 80%;
  position: relative;
}

.imageUrlContainer img {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.shareImage {
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,.5);
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.shareImage img {
  max-height: 80%;
}

.below-image {
  display: flex;
  width: 80%;
  margin: 5px auto;
  justify-content: space-around;
}

.imageInformation {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
  font-size: 24px;
}

.effects {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
}

.effects li {
  width: 20%;
}

.editButton {
  background: #e67e92;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
}

.resetButton {
  padding: 10px 25px;
  border-radius: 5px;
}

.effects input {
  width: 30px;
  text-align: right;
  margin-left: 10px;
}

/*---UI-View Category---*/

.categoryPageContainer {
  width: 95%;
  display: flex;
  margin: 5px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categoryImageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.categoryPageImages {
  width: 48%;
  overflow: hidden;
  margin: 4px 4px;
  display: flex;
}

.categoryPageImage {
  width:100%;
  border: 1px solid #e67e92;
}

/*---UI-View About---*/

.about-container {
  width: 50%;
  display: flex;
  margin: 5px auto;
  flex-direction: column;
  text-align: center;
}

.about-container h2{
  font-size: 60px;
}

.pink-text {
  color: pink;
}

.about-container p{
  font-size: 40px;
}

.about-list {
  list-style: circle;
  list-style-position: inside;
}

.about-list li {
  margin: 10px 0px;
  font-size: 28px;
}


/*---Footer---*/

/*.main-footer {
  height: 200px;
  background: lightgray;
}*/

/*---@Media---*/

@media (min-width:768px) {

  .top-links {
    justify-content: space-between;
    align-items: center;
  }

  .top-links li img{
    width: 100%;
    height: 100%;
  }

  .top-links input {
    height: 30px;
    border-radius: 5px;
    width: 40vw;
  }

  .category-overlay {
    font-size: 28px;
  }

  .images {
    width: 32%;
    height: 20vw;
  }

}

@media (min-width:1200px) {

  .images {
    width: 24%;
    height: 13.5vw;
  }

}
